{% extends 'base.html' %}
{% set static_tuning_active = True %}

{% block content %}

<h2 class="mb-3"><i class="fas fa-fw fa-circle-notch"></i> Static Laser Tuning</h2>

<div class="row">
  <div class="col-6 col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-7 col-xs-8">
    <div class="card">
      <div class="card-body">
        <div class="align-items-center row">
          <div class="col">
            {% if settings['laser_status'] == 1 %}
              <h5>Laser Status: <strong><span class="text-success">ON</span></strong></h5>
              <a 
                href="javascript:void(0)" 
                class="btn btn-sm btn-outline-danger laser-on-off-button" 
                data-laser-status="0">
                Turn Laser OFF
              </a>
            {% endif %}
            {% if settings['laser_status'] == 0 %}
              <h5>Laser Status: <strong><span class="text-danger">OFF</span></strong></h5>
              <a 
                href="javascript:void(0)" 
                class="btn btn-sm btn-outline-success laser-on-off-button"
                data-laser-status="1">
                Turn Laser ON
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-7 col-xs-8">
    <div id="laser-status-alert-div">
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if messages %}
      <div id="laser-status-alert" class="alert alert-success mb-0" role="alert">
        <h5 class="alert-heading"><i class="fas fa-fw fa-bolt"></i> Success</h5>
        {% for message in messages %}
          {{message}}
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    
    <div class="card my-4">
      <div class="card-header">
        <i class="fas fa-fw fa-sliders-h"></i> Laser Settings
      </div>
      <div class="card-body">
        <!-- Hidden field for JS -->
        <input id="ltc_active_laser" type="hidden" value="{{ settings['ltc_active_laser'] }}">

        <div id="laser-settings-fields">
          {% if settings['ltc_active_laser'] == 'pump' %}
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label">Active Laser</label>
              <div class="col-sm-8">
                <span><strong>Optically Pumped VCSEL</strong></span>
              </div>
            </div>
            <div class="row mb-3">
              <label for="ltc_pump_span" class="col-sm-4 col-form-label">Pump Span (mA)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ltc_pump_span" value="{{ settings['ltc_pump_span'] }}" disabled>
              </div>
            </div>
            <div class="row mb-3">
              <label for="ltc_pump_current" class="col-sm-4 col-form-label">Pump Current (mA)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ltc_pump_current" value="{{ settings['ltc_pump_current'] }}">
                <div class="form-text">Do NOT set above 250mA!</div>
              </div>
            </div>
          {% endif %}

          {% if settings['ltc_active_laser'] == 'to_can_evcsel' %}
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label">Active Laser</label>
              <div class="col-sm-8">
                <span><strong>TO Can eVCSEL</strong></span>
              </div>
            </div>
            <div class="row mb-3">
              <label for="ltc_pump_span" class="col-sm-4 col-form-label">TO Can Pkg Span (mA)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ltc_evcsel_to_pkg_span" value="{{ settings['ltc_evcsel_to_pkg_span'] }}" disabled>
              </div>
            </div>
            <div class="row mb-3">
              <label for="ltc_pump_current" class="col-sm-4 col-form-label">TO Can Pkg Current (mA)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ltc_evcsel_to_pkg_current" value="{{ settings['ltc_evcsel_to_pkg_current'] }}">
                <div class="form-text">Do NOT set above 10mA!</div>
              </div>
            </div>
          {% endif %}

          {% if settings['ltc_active_laser'] == 'butterfly' %}
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Active Laser</label>
            <div class="col-sm-8">
              <span><strong>Butterfly eVCSEL</strong></span>
            </div>
          </div>
          <div class="row mb-3">
            <label for="ltc_evcsel_butterfly_laser_span" class="col-sm-4 col-form-label">Butterfly Laser Span (mA)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ltc_evcsel_butterfly_laser_span" value="{{ settings['ltc_evcsel_butterfly_laser_span'] }}" disabled>
            </div>
          </div>
          <div class="row mb-3">
            <label for="ltc_evcsel_butterfly_laser_current" class="col-sm-4 col-form-label">Butterfly Laser Current (mA)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ltc_evcsel_butterfly_laser_current" value="{{ settings['ltc_evcsel_butterfly_laser_current'] }}">
              <div class="form-text">Do NOT set above 10mA!</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="ltc_evcsel_butterfly_boa_span" class="col-sm-4 col-form-label">Butterfly BOA Span (mA)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ltc_evcsel_butterfly_boa_span" value="{{ settings['ltc_evcsel_butterfly_boa_span'] }}" disabled>
            </div>
          </div>
          <div class="row mb-3">
            <label for="ltc_evcsel_butterfly_boa_current" class="col-sm-4 col-form-label">Butterfly BOA Current (mA)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ltc_evcsel_butterfly_boa_current" value="{{ settings['ltc_evcsel_butterfly_boa_current'] }}">
              <div class="form-text">Do NOT set above 250mA!</div>
            </div>
          </div>
          {% endif %}
        </div> <!-- END: laser-settings-fields -->

        <button id="update-laser-settings-btn" class="btn btn-success d-none"><i class="fas fa-fw fa-check"></i> Update Laser Settings</button>
        <a id="cancel-laser-settings-link" href="{{ url_for('static_tuning.index') }}" class="btn btn-outline-danger btn-sm d-none"><i class="fas fa-times"></i> <strong>Cancel</strong></a>

        <hr />
        <!-- Tuning Section -->
        <p><i class="fas fa-wave-square"></i> Tuning</p>

        <input type="hidden" id="tuning_type" value="{{ settings['tuning_type'] }}"> 

        <div class="row mb-3">
          <label for="tuning-type-select" class="col-sm-4 col-form-label">Type</label>
          <div class="col-sm-8">
            <select id="tuning-type-select" class="form-select">
              <option value="type_voltage" {{ 'selected' if settings['tuning_type'] == 'type_voltage' else '' }}>Static Voltage</option>
              <option value="type_triangle_wave" {{ 'selected' if settings['tuning_type'] == 'type_triangle_wave' else '' }}>Triangle Wave</option>
            </select>
          </div>
        </div>

        <div id="laser-tuning-fields">
          {% if settings['tuning_type'] == 'type_voltage' %}
            <div class="row mb-3">
              <label for="vs_mems_voltage" class="col-sm-4 col-form-label">MEMS Voltage (V)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="vs_mems_voltage" value="{{ settings['vs_mems_voltage'] }}">
                <div class="form-text">Max 75V</div>
              </div>
            </div>
          {% endif %}
          {% if settings['tuning_type'] == 'type_triangle_wave' %}
            <div class="row mb-3">
              <label for="tw_sample_rate" class="col-sm-4 col-form-label">Frequency</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="tw_sample_rate" value="{{ settings['tw_sample_rate'] }}">
              </div>
            </div>
            <div class="row mb-3">
              <label for="tw_voltage_step" class="col-sm-4 col-form-label">Voltage Step</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="tw_voltage_step" value="{{ settings['tw_voltage_step'] }}">
              </div>
            </div>
            <div class="row mb-3">
              <label for="tw_min_voltage" class="col-sm-4 col-form-label">Min Voltage (V)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="tw_min_voltage" value="{{ settings['tw_min_voltage'] }}">
                <div class="form-text">Min val -8091</div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="tw_max_voltage" class="col-sm-4 col-form-label">Max Voltage (V)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="tw_max_voltage" value="{{ settings['tw_max_voltage'] }}">
                <div class="form-text">Max val 8091</div>
              </div>
            </div>
          {% endif %}
        </div><!-- END: laser-tuning-fields -->

        <button id="update-tuning-settings-btn" class="btn btn-success d-none"><i class="fas fa-fw fa-check"></i> Update Tuning Settings</button>
        <a id="cancel-tuning-settings-link" href="{{ url_for('static_tuning.index') }}" class="btn btn-outline-danger btn-sm d-none"><i class="fas fa-times"></i> <strong>Cancel</strong></a>

      </div>
    </div>

  </div>
</div>

<!-- Toast -->
<div class="toast-container position-absolute bottom-0 end-0 p-3">
  <div class="toast" id="alert-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto text-success">Success!</strong>
      <small>Just Now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="alert-msg" class="toast-body">
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
//global variables
const activeLaser = document.getElementById('ltc_active_laser')
const activeTuningType = document.getElementById('tuning_type')
const laserOnOffButtons = document.querySelectorAll(".laser-on-off-button")
const tuningTypeSelect = document.getElementById('tuning-type-select')
const updateLaserSettingsBtn = document.getElementById('update-laser-settings-btn')
const updateTuningSettingsBtn = document.getElementById('update-tuning-settings-btn')
const cancelLaserChangesLink =document.getElementById('cancel-laser-settings-link')
const cancelTuningChangesLink =document.getElementById('cancel-tuning-settings-link')
const settingsChangeStyle = ['bg-success', 'bg-opacity-25']
const settingsAlertStyle = ['border', 'border-2', 'border-danger']

const alertToast = new bootstrap.Toast(document.getElementById("alert-toast"))
const alertMsg = document.getElementById('alert-msg')

let unconfirmedEdits = false

//on window load get settings data and populate page
window.addEventListener('load', function () {
  bindTuningType()

  //bind input change to show edit buttons - laser settings
  const laserSettingsInputs = document.querySelectorAll("#laser-settings-fields input")
  const laserTuningInputs = document.querySelectorAll("#laser-tuning-fields input")
  governEditBtns(laserSettingsInputs, updateLaserSettingsBtn, cancelLaserChangesLink)
  submitLaserSettings(laserSettingsInputs, updateLaserSettingsBtn, cancelLaserChangesLink)
  governEditBtns(laserTuningInputs, updateTuningSettingsBtn, cancelTuningChangesLink)
  submitTuningSettings(laserTuningInputs, updateTuningSettingsBtn, cancelTuningChangesLink)
})

//remove laser status alert if it exists
const laserChangeAlert = document.getElementById('laser-status-alert')
if (laserChangeAlert) {
  setTimeout(()=>{
    document.getElementById('laser-status-alert-div').innerHTML = ''
  }, 1500)
}

laserOnOffButtons.forEach(button => {
  button.addEventListener('click', e =>{
    let laserStatus = button.dataset.laserStatus
    toggleLaser(laserStatus)
  })
})

async function toggleLaser(laserStatus){
  if (laserStatus == '1') {
    if (unconfirmedEdits) {
      alert('You have unsaved changes to settings! Please confirm changes before turning on the laser!')
      return false
    }
  }
  resp = await updateLaserStatus(laserStatus)

  console.log(resp.code)
  //reload page on success
  if (resp.code == 200) {
    location.reload()
  }
}

async function bindTuningType(){
  tuningTypeSelect.addEventListener('change', async (e) =>{
    e.preventDefault()
    //get user selected tuningType
    let newTuningType = tuningTypeSelect.options[tuningTypeSelect.selectedIndex].value

    //update db with newly selected laser
    let resp = await updateStaticTuningType(newTuningType)

    //reload the page on success
    if (resp.id==1) {
      location.reload()
    }

  })
}

function submitLaserSettings(inputFields, updateBtn, cancelLink){
  updateBtn.addEventListener('click', async e => {
    e.preventDefault()
    if (validateLaserLimits()) {
      updatedSettings = new FormData()
      //get all inputs & selects
      settingsInputs = inputFields
      //iterate and build formData
      settingsInputs.forEach(element => {
        //only grab inputs that can be edited
        if (element.disabled != true) {
          updatedSettings.append(element.id, element.value)
        }
      })
      //send updates
      let resp = await updateSettings(updatedSettings)
      //on success remove text color, apply btn, show toast
      if (resp.code = 204) {
        unconfirmedEdits = false
        settingsInputs.forEach(element => {
          if(element.classList.contains(...settingsChangeStyle)){
            element.classList.remove(...settingsChangeStyle)
          }
          if(element.classList.contains(...settingsAlertStyle)){
            element.classList.remove(...settingsAlertStyle)
          }
        })
        updateBtn.classList.add("d-none")
        cancelLink.classList.add("d-none")
        displayToast('Settings successfully updated!')
      }
    }
  })
}

function submitTuningSettings(inputFields, updateBtn, cancelLink){
  updateBtn.addEventListener('click', async e => {
    e.preventDefault()
    if (validateTuningLimits()) {
      updatedSettings = new FormData()
      //get all inputs & selects
      settingsInputs = inputFields
      //iterate and build formData
      settingsInputs.forEach(element => {
        //only grab inputs that can be edited
        if (element.disabled != true) {
          updatedSettings.append(element.id, element.value)
        }
      })
      //send updates
      let resp = await updateSettings(updatedSettings)
      //on success remove text color, apply btn, show toast
      if (resp.code = 204) {
        unconfirmedEdits = false
        settingsInputs.forEach(element => {
          if(element.classList.contains(...settingsChangeStyle)){
            element.classList.remove(...settingsChangeStyle)
          }
          if(element.classList.contains(...settingsAlertStyle)){
            element.classList.remove(...settingsAlertStyle)
          }
        })
        updateBtn.classList.add("d-none")
        cancelLink.classList.add("d-none")
        displayToast('Settings successfully updated!')
      }
    }
  })
}

//******** Async Functions ********//
async function updateLaserStatus(laserStatus){
  let dataParams = new FormData()
  dataParams.append('laser_status', laserStatus)

  return (await fetch("{{url_for('static_tuning.update_laser_status')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()
}

async function updateSettings(updatedSettings){
  let dataParams = updatedSettings

  return (await fetch("{{url_for('settings.update_settings')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()
}

async function updateStaticTuningType(newTuningType){
  let dataParams = new FormData()
  dataParams.append('tuning_type', newTuningType)

  return (await fetch("{{url_for('static_tuning.update_tuning_type')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()
}

function handleDataErr(err) {
  console.warn(err)
  let resp = new Response(
    JSON.stringify({
      code: 400,
      message: "Network problem retrieving data"
    })
  )
  return resp
}

//************** Utilities **************\\

function governEditBtns(inputFields, updateBtn, cancelLink){
  inputFields.forEach(element => {
    element.addEventListener('input', e => {
      unconfirmedEdits = true
      //if btn is not shown, show it
      if (updateBtn.classList.contains("d-none")) {
        updateBtn.classList.remove("d-none")
      }
      if (cancelLink.classList.contains("d-none")) {
        cancelLink.classList.remove("d-none")
      }
      //change element bg if different from original value
      element.classList.add(...settingsChangeStyle)
    })
  })
}

function displayToast(msg){
  alertMsg.innerHTML = msg
  alertToast.show()
  setTimeout(()=>{alertToast.hide()}, 2000)
}

//evaluates currents against spans when updating settings
//returns an error if the current exceeds the span
function validateLaserLimits(){

  let validationResult = true

  //validate fields based on the laser selected
  switch (activeLaser.value) {
    case 'pump':
      let pumpSpan = document.getElementById('ltc_pump_span')
      let pumpCurrent = document.getElementById('ltc_pump_current')
      if (parseFloat(pumpCurrent.value) > parseFloat(pumpSpan.value)) {
        inputAlert(pumpCurrent, 'The Pump Current value must be less than the span!')
        validationResult = false
      }
      break;
    case 'to_can_evcsel':
      let toPkgSpan = document.getElementById('ltc_evcsel_to_pkg_span')
      let toPkgCurrent = document.getElementById('ltc_evcsel_to_pkg_current')
      if (parseFloat(toPkgCurrent.value) > parseFloat(toPkgSpan.value)) {
        inputAlert(toPkgCurrent, 'The TO Can Pkg Current value must be less than the span!')
        validationResult = false
      }
      break;
    case 'butterfly':
      let butterflyLaserSpan = document.getElementById('ltc_evcsel_butterfly_laser_span')
      let butterflyLaserCurrent = document.getElementById('ltc_evcsel_butterfly_laser_current')
      let butterflyBoaSpan = document.getElementById('ltc_evcsel_butterfly_boa_span')
      let butterflyBoaCurrent = document.getElementById('ltc_evcsel_butterfly_boa_current')
      if (parseFloat(butterflyLaserCurrent.value) > parseFloat(butterflyLaserSpan.value)) {
        inputAlert(butterflyLaserCurrent, 'The Butterfly Laser Current value must be less than the span!')
        validationResult = false
      }
      if (parseFloat(butterflyBoaCurrent.value) > parseFloat(butterflyBoaSpan.value)) {
        inputAlert(butterflyBoaCurrent, 'The Butterfly BOA Current value must be less than the span!')
        validationResult = false
      }
      break;
  }

  return validationResult

}

function validateTuningLimits(){

  let validationResult = true

  switch (activeTuningType.value) {
    case 'type_voltage':
      let memsVoltage = document.getElementById('vs_mems_voltage')
      if (parseInt(memsVoltage.value) >= 70) {
        inputAlert(memsVoltage, 'The voltage must be less than 70!')
        validationResult = false
      }
      break;
  
    case 'type_triangle_wave':
      let minVoltage = document.getElementById('tw_min_voltage')
      let maxVoltage = document.getElementById('tw_max_voltage')
      if (parseInt(minVoltage.value) < -8091) {
        inputAlert(minVoltage, 'The Min Voltage must be greater than -8091!')
        validationResult = false
      }
      if (parseInt(maxVoltage.value) > 8091) {
        inputAlert(maxVoltage, 'The Max Voltage must be less than 8091!')
        validationResult = false
      }
      break;
  }

  return validationResult
  
}

function inputAlert(input, msg){
  //highlight input border in red
  input.classList.add(...settingsAlertStyle)
  //alert user
  alert(msg)
}

</script>
{% endblock %}