<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom fonts for this template-->
  <link href="{{url_for('static', filename='css/fontawesome/all.min.css')}}" rel="stylesheet" type="text/css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->

  <!-- Bootstrap JS + popper bundle & jQuery -->
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('landing.index') }}">
        <img src="{{url_for('static', filename='img/praevium_logo.png')}}" width="40" height="40" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {{'active' if home_active else ''}}" aria-current="page" href="{{ url_for('landing.index') }}"><i class="fas fa-fw fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{'active' if static_tuning_active else ''}}" aria-current="page" href="{{ url_for('static_tuning.index') }}"><i class="fas fa-fw fa-circle-notch"></i> Static Laser Tuning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{'active' if settings_active else ''}}" href="{{ url_for('settings.index') }}"><i class="fas fa-fw fa-cogs"></i> Settings</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <span id="laser-status-bar" class="nav-link disabled"></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <noscript>
      <div class="alert alert-danger"><i class="fas fa-info-circle"></i> Javascript was not detected! You must enable it to use this application!</div>
    </noscript>
    {% block content %}{% endblock %}
  </div>

  {% block javascript %}{% endblock %}

  <script>
    //global variables
    const laserStatusBar = document.getElementById('laser-status-bar')

    //on window load get settings data and populate page
    window.addEventListener('load', function () {
      displayLaserStatus()
    })

    async function displayLaserStatus(){
      let settingsData = await getSettingsData()

      let laserHTML

      if (settingsData.laser_status == '1'){

        laserHTML = 'Laser <span class="text-success"><strong>ON</strong></span>'

      }
      if (settingsData.laser_status == '0'){

        laserHTML = 'Laser <span class="text-danger"><strong>OFF</strong></span>'

      }
      //apply style changes
      laserStatusBar.innerHTML = laserHTML

    }

    //******** Async Functions ********//
    async function getSettingsData(){
      return (await fetch("{{url_for('settings.get_settings')}}", { method: 'GET'}).catch(handleDataErr)).json()
    }

    function handleDataErr(err) {
      console.warn(err)
      let resp = new Response(
        JSON.stringify({
          code: 400,
          message: "Network problem retrieving data"
        })
      )
      return resp
    }
    
  </script>
  
</body>
</html>