{% extends 'base.html' %}
{% set home_active = True %}

{% block content %}

<div class="row">
  <div class="col">
    <h2>Praevium T1550 Series 1 Tunable Laser</h2>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col">
    <h3>Apps</h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 pb-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title"><i class="fas fa-fw fa-circle-notch"></i> Static Tuning</h4>
        <p class="card-text">Turn on the <strong>T1550 Series 1 Lasers</strong> using fixed current values</p>
        <hr/>
        <div class="d-grid gap-2">
          <a href="{{ url_for('static_tuning.index') }}" class="btn btn-success"><i class="fas fa-fw fa-circle-notch"></i> Static Tuning</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Settings & Manual</h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title"><i class="fas fa-fw fa-cogs"></i> Settings</h4>
        <p class="card-text">Change the Active Laser, Current & Voltage properties</p>
        <hr/>
        <div class="d-grid gap-2">
          <a href="{{ url_for('settings.index') }}" class="btn btn-secondary"><i class="fas fa-fw fa-cogs"></i> Settings</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title"><i class="fas fa-book"></i> Manual</h4>
        <p class="card-text">Instructions on the setup and use of your <strong>T1550 Series 1</strong> tunable laser device</p>
        <hr/>
        <div class="d-grid gap-2">
          <a href="{{ url_for('manual.index') }}" class="btn btn-secondary"><i class="fas fa-book"></i> Manual</a>
        </div>
      </div>
    </div>
  </div> -->
</div>

{% endblock %}