{% extends 'base.html' %}
{% set settings_active = True %}

{% block content %}

<h2 class="mb-3"><i class="fas fa-fw fa-cogs"></i> Settings</h2>

<div class="row">

  <div class="col-6">
    <div class="alert alert-info"><i class="fas fa-info-circle"></i> Click and change the values below to reveal the update button!</div>
  </div>
  <div class="col-6">
    <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> Avoid using the browser <strong>Back</strong> and <strong>Reload</strong> buttons</div>
  </div>

  <div class="col-12">

    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0"><strong><i class="fas fa-fw fa-sliders-h"></i> Device Settings</strong></h5>
      </div>
      <div class="card-body">

        <div class="card-block row">

          <div class="col-8">

            <div class="row align-items-center">
              <div class="col-auto">
                <label for="select-laser" class="col-form-label"><strong>Active Laser</strong></label>
              </div>
              <div class="col-auto">
                <select id="laser-select" class="form-select">
                  <option value=""></option>
                  <option value="pump">Optically Pumped VCSEL</option>
                  <option value="to_can_evcsel">TO Can eVCSEL</option>
                  <option value="butterfly">Butterfly eVCSEL</option>
                </select>
              </div>
              <div class="col-auto">
                <div id="laser-change-alert-div">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div id="laser-change-alert" class="alert alert-success my-1 py-1" role="alert">
                    {% for message in messages %}
                      <strong>Success!</strong> Laser updated!
                    {% endfor %}
                  </div>
                  {% endif %}
                {% endwith %}
                </div>
              </div>
                  
              
            </div>

          </div>
          <div class="col-4">
            <div class="d-flex flex-row-reverse">
              <button id="update-settings-btn" class="btn btn-success d-none"><i class="fas fa-fw fa-check"></i> Apply Changes</button>
            </div>
          </div>
          
        </div>

        <hr />

        <div id="settings-fields" class="card-block row">
          <div class="col-4">
            <h5 class="my-2"><i class="far fa-fw fa-lightbulb"></i> LTC Driver</h5>
            <div id='ltc-driver-settings-fields'></div>
            <button id="ltc-driver-settings-form-btn" class="btn btn-primary my-2 d-none"><i class="far fa-fw fa-lightbulb"></i> Update</button>
          </div>

          <div class="col-4">
            <h5 class="my-2"><i class="fas fa-fw fa-bolt"></i> Voltage Source Settings</h5>
            <div id="voltage-source-settings-fields">
              <!-- <label class="form-label" for="mems_voltage_limit">MEMS Voltage Limit (V)</label>
              <input id="vs_mems_voltage" name="vs_mems_voltage" class="form-control" type="text" disabled> -->

              <label class="form-label" for="amplifier_gain">Amplifier Gain</label>
              <input id="vs_amplifier_gain" name="vs_amplifier_gain" class="form-control" type="text" value='100' disabled>
            </div>
          </div>

          <div class="col-4">
            <h5 class="my-2"><i class="fas fa-fw fa-thermometer"></i> MTD TEC</h5>
            <div id="mtd-tec-settings-fields">
              <label class="form-label" for="temperature">Temperature (c)</label>
              <input id="tec_temperature" name="tec_temperature" class="form-control" type="text" disabled>
            </div>
          </div>

          <div class="col-12">
            <div class="d-flex flex-row-reverse">
              <a id="cancel-changes-link" href="{{ url_for('settings.index') }}" class="btn btn-danger btn-sm d-none"><i class="fas fa-times"></i> <strong>Cancel</strong></a>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>

  </div>

</div>

<!-- Toast -->
<div class="toast-container position-absolute top-0 end-0 mt-4 p-3">
  <div class="toast" id="alert-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto text-success">Success!</strong>
      <small>Just Now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="alert-msg" class="toast-body">
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

//global variables
const laserSelect = document.getElementById('laser-select')
const alertToast = new bootstrap.Toast(document.getElementById("alert-toast"))
const alertMsg = document.getElementById('alert-msg')
const settingsChangeStyle = ['bg-success', 'bg-opacity-25']
const settingsAlertStyle = ['border', 'border-2', 'border-danger']

//remove laser change alert if it exists
const laserChangeAlert = document.getElementById('laser-change-alert')
if (laserChangeAlert) {
  setTimeout(()=>{
    document.getElementById('laser-change-alert-div').innerHTML = ''
  }, 1000)
}

//************ Laser Settings form fields, labels, and submit button ************\\
const currentRange = [
  '3.125',
  '6.25',
  '12.5',
  '25',
  '50',
  '100',
  '200',
  '300'
]

const ltcDriverSettingsFields = document.getElementById('ltc-driver-settings-fields')
//TO pkg
const toPkgSpanLabel = document.createElement('label')
toPkgSpanLabel.className = 'form-label'
toPkgSpanLabel.htmlFor = 'ltc_evcsel_to_pkg_span'
toPkgSpanLabel.innerHTML = 'eVCSEL TO Can Pkg Span (mA)'

const toPkgSpan = document.createElement('select')
toPkgSpan.id = 'ltc_evcsel_to_pkg_span'
toPkgSpan.name = 'ltc_evcsel_to_pkg_span'
toPkgSpan.className = 'form-select'

buildCurrentSelectOptions(toPkgSpan, currentRange)

// const toPkgCurrLabel = document.createElement('label')
// toPkgCurrLabel.className = 'form-label'
// toPkgCurrLabel.htmlFor = 'ltc_evcsel_to_pkg_current'
// toPkgCurrLabel.innerHTML = 'eVCSEL TO Can Pkg Current (mA)'

// const toPkgCurr = document.createElement('input')
// toPkgCurr.id = 'ltc_evcsel_to_pkg_current'
// toPkgCurr.name = 'ltc_evcsel_to_pkg_current'
// toPkgCurr.className = 'form-control'
// toPkgCurr.type = 'text'

//butterfly laser
const butterflyLaserSpanLabel = document.createElement('label')
butterflyLaserSpanLabel.className = 'form-label'
butterflyLaserSpanLabel.htmlFor = 'ltc_evcsel_butterfly_laser_span'
butterflyLaserSpanLabel.innerHTML = 'eVCSEL Butterfly Laser Span (mA)'

const butterflyLaserSpan = document.createElement('select')
butterflyLaserSpan.id = 'ltc_evcsel_butterfly_laser_span'
butterflyLaserSpan.name = 'ltc_evcsel_butterfly_laser_span'
butterflyLaserSpan.className = 'form-select'

buildCurrentSelectOptions(butterflyLaserSpan, currentRange)

// const butterflyLaserCurrLabel = document.createElement('label')
// butterflyLaserCurrLabel.className = 'form-label'
// butterflyLaserCurrLabel.htmlFor = 'ltc_evcsel_butterfly_laser_current'
// butterflyLaserCurrLabel.innerHTML = 'eVCSEL Butterfly Laser Current (mA)'

// const butterflyLaserCurr = document.createElement('input')
// butterflyLaserCurr.id = 'ltc_evcsel_butterfly_laser_current'
// butterflyLaserCurr.name = 'ltc_evcsel_butterfly_laser_current'
// butterflyLaserCurr.className = 'form-control'
// butterflyLaserCurr.type = 'text'

//butterfly BOA
const butterflyBoaSpanLabel = document.createElement('label')
butterflyBoaSpanLabel.className = 'form-label'
butterflyBoaSpanLabel.htmlFor = 'ltc_evcsel_butterfly_boa_span'
butterflyBoaSpanLabel.innerHTML = 'eVCSEL Butterfly BOA Span (mA)'

const butterflyBoaSpan = document.createElement('select')
butterflyBoaSpan.id = 'ltc_evcsel_butterfly_boa_span'
butterflyBoaSpan.name = 'ltc_evcsel_butterfly_boa_span'
butterflyBoaSpan.className = 'form-select'

buildCurrentSelectOptions(butterflyBoaSpan, currentRange)

// const butterflyBoaCurrLabel = document.createElement('label')
// butterflyBoaCurrLabel.className = 'form-label'
// butterflyBoaCurrLabel.htmlFor = 'ltc_evcsel_butterfly_boa_current'
// butterflyBoaCurrLabel.innerHTML = 'eVCSEL Butterfly BOA Current (mA)'

// const butterflyBoaCurr = document.createElement('input')
// butterflyBoaCurr.id = 'ltc_evcsel_butterfly_boa_current'
// butterflyBoaCurr.name = 'ltc_evcsel_butterfly_boa_current'
// butterflyBoaCurr.className = 'form-control'
// butterflyBoaCurr.type = 'text'

//pump
const pumpSpanLabel = document.createElement('label')
pumpSpanLabel.className = 'form-label'
pumpSpanLabel.htmlFor = 'ltc_pump_span'
pumpSpanLabel.innerHTML = 'Pump VCSEL Span (mA)'

const pumpSpan = document.createElement('select')
pumpSpan.id = 'ltc_pump_span'
pumpSpan.name = 'ltc_pump_span'
pumpSpan.className = 'form-select'

buildCurrentSelectOptions(pumpSpan, currentRange)

// const pumpCurrLabel = document.createElement('label')
// pumpCurrLabel.className = 'form-label'
// pumpCurrLabel.htmlFor = 'ltc_pump_current'
// pumpCurrLabel.innerHTML = 'Pump VCSEL Current (mA)'

// const pumpCurr = document.createElement('input')
// pumpCurr.id = 'ltc_pump_current'
// pumpCurr.name = 'ltc_pump_current'
// pumpCurr.className = 'form-control'
// pumpCurr.type = 'text'

//voltage source fields
// const memsVoltageLimitInput = document.getElementById('vs_mems_voltage')
const amplifierGainInput = document.getElementById("vs_amplifier_gain")

//MTD Tec fields
const temperatureInput = document.getElementById('tec_temperature')

//update setting sbutton
const updateSettingsBtn = document.getElementById('update-settings-btn')
const cancelChangesLink = document.getElementById('cancel-changes-link')

//on window load get settings data and populate page
window.addEventListener('load', function () {
  settingsPageSetup()
  bindLaserSelect()
})

/*** get data, fill HTML, and bind listeners ***/
async function settingsPageSetup(){
  let settingsData = await getSettingsData()

  //set the dropdown to the active laser
  laserSelect.value = settingsData.ltc_active_laser
  //remove the first blank option <--- done for UI purposes
  laserSelect.remove(0)

  //clear form of any html
  ltcDriverSettingsFields.innerHTML = ""

  //fill form according to laser selected
  switch (settingsData.ltc_active_laser) {
    case 'pump':
      pumpSpan.value = settingsData.ltc_pump_span
      //pumpCurr.value = settingsData.ltc_pump_current
      ltcDriverSettingsFields.appendChild(pumpSpanLabel)
      ltcDriverSettingsFields.appendChild(pumpSpan)
      // ltcDriverSettingsFields.appendChild(pumpCurrLabel)
      // ltcDriverSettingsFields.appendChild(pumpCurr)
      break;
    case 'to_can_evcsel':
      toPkgSpan.value = settingsData.ltc_evcsel_to_pkg_span
      //toPkgCurr.value = settingsData.ltc_evcsel_to_pkg_current
      ltcDriverSettingsFields.appendChild(toPkgSpanLabel)
      ltcDriverSettingsFields.appendChild(toPkgSpan)
      // ltcDriverSettingsFields.appendChild(toPkgCurrLabel)
      // ltcDriverSettingsFields.appendChild(toPkgCurr)
      break;
    case 'butterfly':
      butterflyLaserSpan.value = settingsData.ltc_evcsel_butterfly_laser_span
      //butterflyLaserCurr.value = settingsData.ltc_evcsel_butterfly_laser_current
      butterflyBoaSpan.value = settingsData.ltc_evcsel_butterfly_boa_span
      //butterflyBoaCurr.value = settingsData.ltc_evcsel_butterfly_boa_current
      ltcDriverSettingsFields.appendChild(butterflyLaserSpanLabel)
      ltcDriverSettingsFields.appendChild(butterflyLaserSpan)
      // ltcDriverSettingsFields.appendChild(butterflyLaserCurrLabel)
      // ltcDriverSettingsFields.appendChild(butterflyLaserCurr)
      ltcDriverSettingsFields.appendChild(butterflyBoaSpanLabel)
      ltcDriverSettingsFields.appendChild(butterflyBoaSpan)
      // ltcDriverSettingsFields.appendChild(butterflyBoaCurrLabel)
      // ltcDriverSettingsFields.appendChild(butterflyBoaCurr)
      break;
  }


  //populate Voltage Source with data
  // memsVoltageLimitInput.value = settingsData.vs_mems_voltage
  amplifierGainInput.value = settingsData.vs_amplifier_gain

  //populate MTD TEC with data
  console.log("temp data", settingsData.tec_temperature)
  temperatureInput.value = settingsData.tec_temperature

  //bind to submit button
  submitSettings()

  //get form inputs and bind change event to show btn
  document.querySelectorAll("#settings-fields input, #settings-fields select").forEach(element => {
    element.addEventListener('input', e => {
      //if btn is not shown, show it
      if (updateSettingsBtn.classList.contains("d-none")) {
        updateSettingsBtn.classList.remove("d-none")
      }
      if (cancelChangesLink.classList.contains("d-none")) {
        cancelChangesLink.classList.remove("d-none")
      }
      //change element bg if different from original value
      element.classList.add(...settingsChangeStyle)
    })
  })

}

function bindLaserSelect(){
  laserSelect.addEventListener('change', async (e) =>{
    e.preventDefault()
    //get user selected laser
    let newLaser = laserSelect.options[laserSelect.selectedIndex].value
    let newLaserText = laserSelect.options[laserSelect.selectedIndex].text

    //update db with newly selected laser
    let resp = await updateActiveLaser(newLaser)

    if (resp.id==1) {
      location.reload()
    }

  })
}

function submitSettings(){
  updateSettingsBtn.addEventListener('click', async e => {
    e.preventDefault()
    //if (validateLimits()) {
      updatedSettings = new FormData()
      //get all inputs & selects
      settingsInputs = document.querySelectorAll("#settings-fields input, #settings-fields select")
      //iterate and build formData
      settingsInputs.forEach(element => {
        updatedSettings.append(element.id, element.value)
      })
      //send updates
      let resp = await updateSettings(updatedSettings)
      //on success remove text color, apply btn, show toast
      if (resp.code = 204) {
        settingsInputs.forEach(element => {
          if(element.classList.contains(...settingsChangeStyle)){
            element.classList.remove(...settingsChangeStyle)
          }
          if(element.classList.contains(...settingsAlertStyle)){
            element.classList.remove(...settingsAlertStyle)
          }
        })
        updateSettingsBtn.classList.add("d-none")
        cancelChangesLink.classList.add("d-none")
        displayToast('Settings successfully updated!')
      }
    //}
  })
}

//************** Async data functions **************\\
async function getSettingsData(){
  return (await fetch("{{url_for('settings.get_settings')}}", { method: 'GET'}).catch(handleDataErr)).json()
}

async function updateActiveLaser(newLaser){
  let dataParams = new FormData()
  dataParams.append('ltc_active_laser', newLaser)

  return (await fetch("{{url_for('settings.update_active_laser')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()
}

async function updateSettings(updatedSettings){
  let dataParams = updatedSettings

  return (await fetch("{{url_for('settings.update_settings')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()
}

function handleDataErr(err) {
  console.warn(err)
  let resp = new Response(
    JSON.stringify({
      code: 400,
      message: "Network problem retrieving data"
    })
  )
  return resp
}

//************** Utilities **************\\
function buildCurrentSelectOptions(selectElement, currentRange){
  currentRange.forEach(current => {
    let option = new Option(current, current)
    selectElement.add(option)
  })
}

function displayToast(msg){
  alertMsg.innerHTML = msg
  alertToast.show()
  setTimeout(()=>{alertToast.hide()}, 2000)
}

//evaluates currents against spans when updating settings
//returns an error if the current exceeds the span
function validateLimits(){

  let validationResult = true

  //validate fields based on the laser selected
  switch (laserSelect.value) {
    case 'pump':
      selectedPumpSpan = document.getElementById('ltc_pump_span')
      if (parseFloat(pumpCurr.value) > parseFloat(selectedPumpSpan.options[selectedPumpSpan.selectedIndex].value)) {
        inputAlert(pumpCurr, 'The Pump Current value must be less than the span!')
        validationResult = false
      }
      break;
    case 'to_can_evcsel':
      selectedToPkgSpan = document.getElementById('ltc_evcsel_to_pkg_span')
      if (parseFloat(toPkgCurr.value) > parseFloat(selectedToPkgSpan.options[selectedToPkgSpan.selectedIndex].value)) {
        inputAlert(toPkgCurr, 'The TO Can Pkg Current value must be less than the span!')
        validationResult = false
      }
      break;
    case 'butterfly':
      selectedButterfLyLaserSpan = document.getElementById('ltc_evcsel_butterfly_laser_span')
      selectedButterflyBoaSpan = document.getElementById('ltc_evcsel_butterfly_boa_span')
      if (parseFloat(butterflyLaserCurr.value) > parseFloat(selectedButterfLyLaserSpan.options[selectedButterfLyLaserSpan.selectedIndex].value)) {
        inputAlert(butterflyLaserCurr, 'The Butterfly Laser Current value must be less than the span!')
        validationResult = false
      }
      if (parseFloat(butterflyBoaCurr.value) > parseFloat(selectedButterflyBoaSpan.options[selectedButterflyBoaSpan.selectedIndex].value)) {
        inputAlert(butterflyBoaCurr, 'The Butterfly BOA Current value must be less than the span!')
        validationResult = false
      }
      break;
  }

  return validationResult

}

function inputAlert(input, msg){
  //highlight input border in red
  input.classList.add(...settingsAlertStyle)
  //alert user
  alert(msg)
}


</script>
{% endblock %}